<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="personalForm">
        <div class="inputContainer">
            <h1>Personal info</h1>
            <p>Please provide your name, email address, and phone number.</p>
            <div class="form-group">
                <div class="label-container">
                    <label for="name">Name</label>
                    <span
                        *ngIf="!personalForm.get('name').valid && personalForm.get('name').errors?.['required'] && personalForm.get('name').touched"
                        class="error-message">Name is required</span>
                    <span
                        *ngIf="!personalForm.get('name').valid && personalForm.get('name').errors?.['containNumbers'] && personalForm.get('name').touched"
                        class="error-message">Name contains numbers</span>
                </div>
                <input type="text" placeholder="e.g. Stephen King" name="name" formControlName="name">
            </div>
            <div class="form-group">
                <div class="label-container">
                    <label for="email">Email Address</label>
                    <span
                        *ngIf="!personalForm.get('email').valid && personalForm.get('email').errors?.['required'] && personalForm.get('email').touched"
                        class="error-message">Email
                        is
                        required</span>
                    <span
                        *ngIf="!personalForm.get('email').valid && personalForm.get('email').errors?.['email'] && personalForm.get('email').touched"
                        class="error-message">This is
                        not a valid email</span>
                </div>
                <input type="email" placeholder="e.g. stephenking@lorem.com" name="email" formControlName="email">
            </div>
            <div class="form-group">
                <div class="label-container">
                    <label for="phone">Phone Number</label>
                    <span
                        *ngIf="!personalForm.get('phone').valid && personalForm.get('phone').errors?.['required'] && personalForm.get('phone').touched"
                        class="error-message">Phone
                        Number is required</span>
                    <span
                        *ngIf="!personalForm.get('phone').valid && (personalForm.get('phone').errors?.['minlength'] || personalForm.get('phone').errors?.['maxlength']) && personalForm.get('phone').touched"
                        class="error-message">Phone
                        Number
                        must be between 8 and 15 characters</span>
                    <span
                        *ngIf="!personalForm.get('phone').valid && personalForm.get('phone').errors?.['containCharacters'] && !(personalForm.get('phone').errors?.['minlength'] || personalForm.get('phone').errors?.['maxlength']) && personalForm.get('phone').touched"
                        class="error-message">Phone
                        Number
                        should only contain numbers</span>
                </div>
                <input type="tel" placeholder="e.g. +1 234 567 890" name="phone" formControlName="phone">
            </div>
        </div>
        <div class="buttonContainer">
            <button type="submit" [disabled]="!personalForm.valid">Next Step</button>
        </div>
    </form>
</div>