<section>
    <div class="stepContainer">
        <div class="step">
            <div class="step__number {{step == 1 ? 'selected' : ''}}">1</div>
            <div class="step__text">
                <p>Step 1</p>
                <p>Your Info</p>
            </div>
        </div>
        <div class="step">
            <div class="step__number {{step == 2 ? 'selected' : ''}}">2</div>
            <div class="step__text">
                <p>Step 2</p>
                <p>Select Plan</p>
            </div>
        </div>
        <div class="step">
            <div class="step__number {{step == 3 ? 'selected' : ''}}">3</div>
            <div class="step__text">
                <p>Step 3</p>
                <p>Add-ons</p>
            </div>
        </div>
        <div class="step">
            <div class="step__number {{step == 4 || step == 5 ? 'selected' : ''}}">4</div>
            <div class="step__text">
                <p>Step 4</p>
                <p>Summary</p>
            </div>
        </div>
    </div>
</section>