<div class="container">
  <app-steps [step]="step"></app-steps>
  <div [ngSwitch]="step" class="container__content">
    <app-personal-info [step]="step" [model]="model" (modelEvent)="onChangeModel($event)"
      (stepEvent)="onChangeStep($event)" *ngSwitchCase="1"></app-personal-info>
    <app-select-plan [step]="step" [period]="period" [plan]="plan" (planEvent)="addPlanToModel($event)"
      (changePeriod)="onChangePeriod()" (stepEvent)="onChangeStep($event)" *ngSwitchCase="2"></app-select-plan>
    <app-add-ons [step]="step" [period]="period" [addOns]="addOns" (addOnsEvent)="addAddOnsToModel($event)"
      (stepEvent)="onChangeStep($event)" *ngSwitchCase="3"></app-add-ons>
    <app-finish-overview [step]="step" [period]="period" [model]="model" (changePeriod)="onChangePeriod()"
      (stepEvent)="onChangeStep($event)" *ngSwitchCase="4"></app-finish-overview>
    <app-confirmation *ngSwitchCase="5"></app-confirmation>
  </div>
</div>